<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SIA Chain</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
</head>
<body class="loading">
  <!-- logo components -->
  <svg id="logo" class="loading" width="86px" height="86px" viewBox="0 0 43 43">
    <rect id="logo1" fill="#fff" transform="translate(21.339380, 5.408310) rotate(-45.000000) translate(-21.339380, -5.408310) " x="18.1894102" y="2.25834021" width="6.29993958" height="6.29993958"></rect>
    <polygon id="logo2" fill="#fff" points="30.1 9.8 21.3 18.5 12.5 9.8 8.7 13.6 21.3 26.1 33.9 13.6"></polygon>
    <polygon id="logo3" fill="#fff" points="36 15.8 32.2 19.6 35 22.3 21.3 36 7.6 22.3 10.3 19.6 6.5 15.8 0 22.3 21.3 43.6 42.6 22.3"></polygon>
  </svg>
  <!-- loading components -->
  <div id="loading">
    <div class="bar"></div>
  </div>
  <!-- home -->
  <div class="page">
    <div id="home">
      <svg width="126px" height="54px" viewBox="0 0 63 27">
        <g fill="#fff">
          <path d="M13,10.4 C9,9.2 7.8,8.7 7.8,7.5 C7.8,6.6 8.9,5.3 11.3,5.3 C13,5.3 14.9,6 16.6,7.2 L17.8,8.1 L21.5,4 L20.3,3 C18,1.1 14.7,0 11.1,0 C5.7,0 1.6,3.2 1.6,7.5 C1.6,13.1 7.1,14.6 10.1,15.4 C13.8,16.4 15.8,17.2 15.8,18.4 C15.8,20.2 13.6,21 11.5,21 C9.3,21 6.4,20.1 4.8,18.9 L3.4,17.9 L0,22.7 L1.4,23.6 C4.2,25.4 7.9,26.5 11.4,26.5 C17.6,26.5 22,23.1 22,18.3 C21.9,13 16.1,11.3 13,10.4 Z"></path>
          <rect x="25.7" y="0.8" width="5.9" height="24.2"></rect>
          <path d="M51.2,0.8 L46.2,0.8 L34.5,25.1 L41,25.1 L43.6,19.5 L53.8,19.5 L56.4,25.1 L62.8,25.1 L51.2,0.8 Z M51.4,14.4 L45.9,14.4 L48.7,8.5 L51.4,14.4 Z"></path>
        </g>
      </svg>
      <h1>Next Smart Digital Item Asset Platform</h1>
    </div>
  </div>
  <!-- SIA -->
  <div class="page cpage p1">
    <div class="color-text">SIA</div>
    <img class="main-page" src="../assets/image/p1.jpg">
    <div class="inner-text">
      <div>SIA</div>
    </div>
    <div class="content">
      <div class="strong">Smart Item Assets Chain</div>
      <div class="title">Why SIA</div>
      <div class="strong">Smart digital item asset platform</div>
      <div class="desc">SIA Chain introduces the Smart Asset Visualization Protocol and the Dynamic Self-Aware Learning Algorithm to create and distribute smart assets with rich image and self-contained personality on the SIA Chain.</div>
    </div>
    <a href="#" class="white-paper">White Paper &gt;</a>
    <div class="tags">
      <span class="tag">Secured</span>
      <span class="tag">Scalable</span>
      <span class="tag">Creative</span>
    </div>
  </div>
  <!-- Technology -->
  <div class="page cpage p2">
    <div class="color-text">TECHNOLOGY</div>
    <div class="piece"></div>
    <div class="inner-text">
      <div>TECHNOLOGY</div>
    </div>
    <img class="main-page" src="../assets/image/p2.jpg">
    <div class="content">
      <div class="slide-container">
        <div class="slide">
          <div class="title">TECHNOLOGY</div>
          <div class="strong">Smart Asset Visualization Protocol</div>
          <div class="desc">Based on the SAV Protocol, SIA Chain offers a wide range of scenarios for virtual item asset visualization templates to simplify asset digitization for specific cultural or branded content.</div>
          <div class="strong">Dynamic Self-Aware Learning Algorithm</div>
          <div class="desc">This process iterates iteratively with changes in various visual attributes, always ensuring the optimization of vector dimension weights and the high adaptability to various new visual representations of the future.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team -->
  <div class="page cpage p3">
    <div class="member-container">
      <div class="member">
        <div class="color-text">CEO</div>
        <img class="main-page" src="../assets/image/p3-1.jpeg">
        <div class="inner-text">
          <div>CEO</div>
        </div>
        <div class="member-name tag">Donald Trump</div>
      </div>
    </div>
    <div class="member-container">
      <div class="member">
        <div class="color-text">CTO</div>
        <img class="main-page" src="../assets/image/p3-1.jpeg">
        <div class="inner-text">
          <div>CTO</div>
        </div>
        <div class="member-name tag">Donald Trump</div>
      </div>
    </div>
    <div class="member-container">
      <div class="member">
        <div class="color-text">CFO</div>
        <img class="main-page" src="../assets/image/p3-1.jpeg">
        <div class="inner-text">
          <div>CFO</div>
        </div>
        <div class="member-name tag">Donald Trump</div>
      </div>
    </div>
    <div class="member-container">
      <div class="member">
        <div class="color-text">CMO</div>
        <img class="main-page" src="../assets/image/p3-1.jpeg">
        <div class="inner-text">
          <div>CMO</div>
        </div>
        <div class="member-name tag">Donald Trump</div>
      </div>
    </div>
  </div>
  <!-- Partners -->
  <div class="page cpage p4">
    <div>
      <div class="title">Partners</div>
    </div>
  </div>
  <!-- Subscribe -->
  <div class="page cpage p5">
    <div class="form">
      <div class="title">Join our Mailing List</div>
      <input type="text" placeholder="Email">
      <button>Subscribe</button>
      <div class="right strong">© 2009-2018 SIA Chain</div>
    </div>
  </div>
  <!-- border -->
  <div class="page border-container">
    <div id="border">
      <svg id="borderLogo" width="117px" height="43px" viewBox="0 0 117 43">
        <g>
            <polygon style="opacity: 0.1;" points="36 15.8 32.2 19.6 35 22.3 21.3 36 7.6 22.3 10.3 19.6 6.5 15.8 0 22.3 21.3 43.6 42.6 22.3"></polygon>
            <polygon points="30.1 9.8 21.3 18.5 12.5 9.8 8.7 13.6 21.3 26.1 33.9 13.6"></polygon>
            <rect style="opacity: 0.1;" id="Rectangle-path" transform="translate(21.339380, 5.408310) rotate(-45.000000) translate(-21.339380, -5.408310) " x="18.1894102" y="2.25834021" width="6.29993958" height="6.29993958"></rect>
        </g>
        <g transform="translate(54.000000, 9.000000)">
            <path d="M13,10.4 C9,9.2 7.8,8.7 7.8,7.5 C7.8,6.6 8.9,5.3 11.3,5.3 C13,5.3 14.9,6 16.6,7.2 L17.8,8.1 L21.5,4 L20.3,3 C18,1.1 14.7,0 11.1,0 C5.7,0 1.6,3.2 1.6,7.5 C1.6,13.1 7.1,14.6 10.1,15.4 C13.8,16.4 15.8,17.2 15.8,18.4 C15.8,20.2 13.6,21 11.5,21 C9.3,21 6.4,20.1 4.8,18.9 L3.4,17.9 L0,22.7 L1.4,23.6 C4.2,25.4 7.9,26.5 11.4,26.5 C17.6,26.5 22,23.1 22,18.3 C21.9,13 16.1,11.3 13,10.4 Z"></path>
            <rect id="Rectangle-path" x="25.7" y="0.8" width="5.9" height="24.2"></rect>
            <path d="M51.2,0.8 L46.2,0.8 L34.5,25.1 L41,25.1 L43.6,19.5 L53.8,19.5 L56.4,25.1 L62.8,25.1 L51.2,0.8 Z M51.4,14.4 L45.9,14.4 L48.7,8.5 L51.4,14.4 Z"></path>
        </g>
      </svg>
    </div>
  </div>
  <!-- nav -->
  <div id="nav">
    <ul>
      <li class="nav-1"><a data-p="1">SIA</a></li>
      <li class="nav-2"><a data-p="2">Technology</a></li>
      <li class="nav-3"><a data-p="3">Team</a></li>
      <li class="nav-4"><a data-p="4">Partners</a></li>
      <li class="nav-5"><a data-p="5">Subscribe</a></li>
    </ul>
  </div>
</body>
</html>